.layout {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}

.layout_header {
  flex-shrink: 0;
  background: var(--color-primary);
  color: white;
  padding: 16px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.layout_content {
  flex: 1 1 auto;
  padding: 20px;
  overflow-y: auto;
}

.layout_footer {
  flex-shrink: 0;
  background: var(--color-primary);
  color: white;
  padding: 16px;
  position: sticky;
  bottom: 0;
}
