/* Restaurant Card Styles */
.restaurant_card {
  width: fit-content;
  margin-top: 24px; /* Отступ под тулбар */
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.restaurant_name {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.restaurant_content {
  padding: 20px;
}
